body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero-banner {
    height: 60vh;
    overflow: hidden;
    margin: 0 auto;
}
.hero-banner img {
    max-width: 100%;
    transform: translateY(-20%);
}
.main-title {
    font-size: 5rem;
    display: block;
    text-align: center;
}
.main-title::after {
    content: "";
    padding: .75rem 0;
    border-bottom: .5rem solid black;
    display:block;
    width: 10vw;
    margin: 0 auto;
}
.main-title::before {
    content: "";
    padding: .75rem 0;
    border-top: .5rem solid black;
    display:block;
    width: 10vw;
    margin: 0 auto;
}
.container-video {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.container-video__content iframe{
    max-width: 100%;
}
.play-button {
    display: block;
    height: auto;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 15%;
    width: 12%;
    z-index: 1;
  }
.about-section {
    display: flex;
}
.about-section__content {
    width: 50vw;
}
  
.about-section__img {
    height: 500px;
    width: 50vw;
    overflow: hidden;
}
.about-section__img img{
    height: 100%;
    transform: scaleX(-1);
}
  .play-button * {
    transform-origin: 50% 50%;
  }
  
  .play-button--active > path {
    animation: play-button-triangle .6s;
  }
  
  .cls-1,
  .cls-2,
  .cls-3 {
    fill: rgba(255, 255, 255, .893);
  }
  
  .cls-2,
  .cls-3 {
    fill-opacity: 0;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-width: 2px;
  }
  
  .cls-3 {
    opacity: .7;
  }
  
  .play-button--active .cls-1,
  .play-button--active .cls-2,
  .play-button--active .cls-3 {
    animation: play-button-circles .6s;
  }
  
  .play-button--active .cls-2 {
    animation-delay: .1s;
  }
  
  .play-button--active .cls-3 {
    animation-delay: .2s;
  }
  
  @keyframes play-button-circles {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(.9);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes play-button-triangle {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.75);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @media only screen  and (max-width: 765px) {
    .play-button {
      width: 82px;
    }
  }