body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero-banner {
  height: 60vh;

}
.hero-banner img,
.about-section__img img {
  object-fit: cover;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%;
}
.main-title,
.telephone {
  font-size: 2.5rem;
  display: block;
  text-align: center;
}
.telephone {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  text-decoration: none;
  color: black;
}
.telephone strong {
  text-decoration: underline; 
}
.telephone::after,
.telephone::before {
  content: "";
  padding: .75rem 0;
  border-bottom: .3rem solid grey;
  display:block;
  width: 30vw;
  margin: 0 auto;
}
.telephone::before {
  border-bottom: none;
  border-top: .3rem solid grey;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.about-section__content {
  order: 2;
  text-align: center;
  font-size: 1.5rem;
}
.about-section__content__text {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  transition: display 2s;
}
.button {
  text-align: center;
  display: block;
  background-color: black;
  color: white;
  padding: .7rem 0;
  width: 7rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
}

.about-section__content__list {
  list-style-type: none;
  padding: 0;
}

.about-section__content__list__item {
  margin: .5rem 0;
}

.about-section__content__small-text {
  text-align: left;
  font-size: .7rem;
}
  
.about-section__content__img {
    height: 30vh;
    overflow: hidden;
}
.about-section__content__img img{
    height: 100%;
}

.contact-form {
  text-align: center;
  padding: 1rem;
  margin: 2rem 0;
  border: .2rem solid grey;
  display: flex;
  flex-direction: column;
}

.contact-form span {
  margin-bottom: 1rem;
}

.contact-form__input {
  border: .1rem solid black;
  max-width: 500px;
  width: 80vw;
  float: right;
  height: 20px;
  margin: 0 auto;  
}

.contact-form__input--enquiry {
  height: 100px;
}

.contact-form__button {
  margin-bottom: 0;
}

.example-title {
  display: block;
  text-align: center;
  font-size: 1.5rem;
}

.container-video {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-video__content {
  margin: .5rem 0;
}

.container-video__content iframe{
    max-width: 100%;
}
