body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero-banner {
    height: 60vh;

}
.hero-banner img,
.about-section__img img {
  object-fit: cover;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%;
}
.main-title,
.telephone {
    font-size: 2.5rem;
    display: block;
    text-align: center;
}
.telephone {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  text-decoration: none;
  color: black;
}
.telephone strong {
  text-decoration: underline; 
}
.telephone::after,
.telephone::before {
    content: "";
    padding: .75rem 0;
    border-bottom: .3rem solid grey;
    display:block;
    width: 30vw;
    margin: 0 auto;
}
.telephone::before {
  border-bottom: none;
    border-top: .3rem solid grey;
}
.container-video {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-video__content iframe{
    max-width: 100%;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about-section__content {
    order: 2;
    text-align: center;
    font-size: 1.5rem;
}
.about-section__content__text {
  width: 90vw;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  transition: display 2s;
}
.button {
  text-align: center;
  display: block;
  background-color: black;
  color: white;
  padding: .7rem 0;
  width: 7rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
}

.about-section__content__list {
  list-style-type: none;
  padding: 0;
}

.about-section__content__list__item {
  margin: .5rem 0;
}

.about-section__content__small-text {
  text-align: left;
  font-size: .7rem;
}
  
.about-section__content__img {
    height: 30vh;
    overflow: hidden;
}
.about-section__content__img img{
    height: 100%;
}
.play-button {
  display: block;
  height: auto;
  left: 0;
  margin: 0 auto;
  right: 0;
  position: absolute;
  top: 25vh;
  width: 12%;
  z-index: 1;
}
.play-button * {
  transform-origin: 50% 50%;
}
  
.play-button--active > path {
  animation: play-button-triangle .6s;
}

.cls-1,
.cls-2,
.cls-3 {
  fill: rgba(255, 255, 255, .893);
}

.cls-2,
.cls-3 {
  fill-opacity: 0;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 2px;
}

.cls-3 {
  opacity: .7;
}

.play-button--active .cls-1,
.play-button--active .cls-2,
.play-button--active .cls-3 {
  animation: play-button-circles .6s;
}

.play-button--active .cls-2 {
  animation-delay: .1s;
}

.play-button--active .cls-3 {
  animation-delay: .2s;
}

@keyframes play-button-circles {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes play-button-triangle {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.75);
  }

  100% {
    transform: scale(1);
  }
}

@media only screen  and (max-width: 765px) {
  .play-button {
    width: 82px;
  }
}